/* ===================== FONDO GENERAL ===================== */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("EPP.JPG");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}

/* ===================== BOTONES SUPERIORES ===================== */

/* Botón flecha */
.btn-flecha {
    position: absolute;
    top: 208px;
    left: 20px;
    background: black;
    color: yellow;
    border: 4px solid yellow;
    padding: 4px 12px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* Botones MENÚ / INICIO */
.btn-top {
    position: absolute;
    top: 208px;
    background: black;
    color: white;
    border: 3px solid yellow;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#btn-menu { left: 600px; }
#btn-inicio { left: 1180px; }

/* CUADROS DE TEXTO INDIVIDUALES */
#box1 {
    position: absolute;
    top: 250px;
    left: 110px;
    width: 1225px;            /* Cambia el ancho aquí */
    height: 100px;            /* Cambia la altura aquí */
    background: transparent;
    border: none;
    border-radius: 12px;
    padding: 16px 14px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    color: black;
}

#box2 {
    position: absolute;
    top: 390px;
    left: 200px;
    width: 225px;             /* Más estrecho para texto vertical */
    height: 100px;
    background: transparent;
    border: none;
    border-radius: 12px;
    padding: 16px 14px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    color: black;
}

#box3 {
    position: absolute;
    top: 390px;
    left: 700px;
    width: 270px;             /* Otro horizontal */
    height: 100px;
    background: transparent;
    border: none;
    border-radius: 12px;
    padding: 16px 14px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    color: black;
}
.btn-trampa1 {
    position: absolute;
    left: 50%;
    width: 100px;
    transform: translateX(-50%);
    padding: 14px;
    background: #e4e42bbd;
    border: 3px solid rgba(15, 14, 14, 0.815);
    color: black;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

    #btn-tdt        { top: 260px; }
    #btn-tdt         { margin-left: -605px; } 

/* ===== AJUSTE SOLO PARA CELULARES ===== */
@media (max-width: 768px) {
    body, html { width: 100%; overflow-x: hidden; }
    img { max-width: 100%; height: auto; }
    * { box-sizing: border-box; }

    button, .btn, .boton, .menu-btn {
        position: relative !important;
        transform: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        display: block !important;
    }
}
