
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 390px;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* ===================== FONDO GENERAL ===================== */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("EPP.JPG");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}

/* ===================== BOTONES SUPERIORES ===================== */

/* Botón flecha */
.btn-flecha {
    height:80px;

    position: absolute;
    top: 208px;
    left: 20px;
    background: black;
    color: yellow;
    border: 4px solid yellow;
    padding: 4px 8px;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* Botones MENÚ / INICIO */
.btn-top {
    height:60px;
    position: absolute;
    top: 208px;
    background: black;
    color: white;
    border: 3px solid yellow;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#btn-menu { left: 145px; }
#btn-inicio { left: 370px; }

/* CUADROS DE TEXTO INDIVIDUALES */
#box1 {
    position: absolute;
    top: 250px;
    left: 110px;
    width: 500px;            /* Cambia el ancho aquí */
    height: 100px;            /* Cambia la altura aquí */
    background: transparent;
    border: none;
    border-radius: 12px;
    padding: 16px 14px;
    font-size: 10px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    color: black;
}

#box2 {
    position: absolute;
    top: 390px;
    left: 120px;
    width: 225px;             /* Más estrecho para texto vertical */
    height: 100px;
    background: transparent;
    border: none;
    border-radius: 12px;
    padding: 12px 14px;
    font-size: 10px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    color: black;
}

#box3 {
    position: absolute;
    top: 390px;
    left: 200px;
    width: 270px;             /* Otro horizontal */
    height: 100px;
    background: transparent;
    border: none;
    border-radius: 12px;
    padding: 12px 14px;
    font-size: 10px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    color: black;
}
.btn-trampa1 {
    position: absolute;
    left: 50%;
    width: 100px;
    transform: translateX(-50%);
    padding: 14px;
    background: #e4e42bbd;
    border: 3px solid rgba(15, 14, 14, 0.815);
    color: black;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

    #btn-tdt        { top: 60px; }
    #btn-tdt         { margin-left: 5px; } 
