/* Página diseñada SOLO para móviles – ancho fijo tipo app */
body {
    margin: 0;
    background: white;
    width: 390px;
    margin: 0 auto;
    font-family: Arial, sans-serif;}
    text-align: center;
}

/* LOGO SUPERIOR */
.logo-app {
    width: 390px;
}

/* FRANJA VERDE */
.header-band {
    width: 390px;
    height: 80px;
    background: #00A651;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.header-band button {
    background: black;
    border: 4px solid #FFD400;
    color: white;
    font-weight: bold;
    padding: 8px 18px;
    border-radius: 10px;
    font-size: 18px;
}

/* TÍTULO */
.titulo {
    margin-top: 15px;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

/* FILAS DE ICONOS */
.fila-iconos img {
    width: 360px;
    margin-top: 10px;
    border-radius: 8px;
}

/* LISTAS */
.contenedor-listas {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.listas {
    width: 55%;
}

.lista {
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
}

/* PERSONA */
.persona-img {
    width: 130px;
    height: auto;
}
