body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 390px;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ----------------- INICIO DE SESIÓN ----------------- */
body.login-page {
    height: 100vh;
    background: url('Fondo menu.jpg') center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
}

.login-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-box {
    background: rgba(114, 115, 119, 0.781);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    color: #0e0b0b;
    width: 380px;
}

.login-box input {
    width: 100%;
    padding: 15px;
    margin: 12px 0;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.login-box button {
    width: 100%;
    padding: 12px 0;
    border-radius: 8px;
    border: none;
    background-color: #31c236;
    color: rgb(10, 9, 9);
    cursor: pointer;
    font-size: 16px;
}

.login-box button:hover {
    background-color: #45a049;
}

#error-msg {
    color: red;
    margin-top: 10px;
}

/* ----------------- MENÚ PRINCIPAL ----------------- */
body.menu-page {
    height: 100vh;
    background: url('menu.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 235px; 
    padding-left: 30px;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Botones del menú */
.menu-buttons button {
    width: 250px;
    height: 50px;
    border: 3px solid #117ff5;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-align: left;
    padding-left: 15px;
    transition: 0.3s;
}

.menu-buttons button:hover {
    background-color: #111;
    box-shadow: 0 0 10px rgba(0,123,255,0.5);
}

/* Distancias personalizadas */
.btn-REVISION       { margin-left: 300px; }
.btn-INTOXICACION   { margin-left: 200px; }
.btn-TRAMPAS        { margin-left: 100px; }
.btn-REPORTES       { margin-left: 100px; }
.btn-HERRAMIENTAS   { margin-left: 200px; }
.btn-EPP            { margin-left: 300px; }




/* ajustar posiciones en celular */
@media (max-width: 600px) {

    .login-box {
        padding: 20px;
        width: 90%;
        border-radius: 12px;
    }

    .login-box h2 {
        font-size: 1.5rem;
    }

    .login-box input {
        padding: 14px;
        font-size: 1.1rem;
    }

    #btnLogin {
        padding: 14px;
        font-size: 1.2rem;
    }

    .login-container {
        margin-bottom: 1px; /* Ajusta posición inferior */
    }
}

/* ----------------- RESPONSIVE del menu ----------------- */
@media (max-width: 600px) {

    body.menu-page {
        background-size: contain; /* ajusta bien en celular */
        background-position: top center;
    }

    .menu-container {
        padding-top: 100px; /* Ajuste para que la imagen no quede gigante */
        padding-left: 10px;
    }

    .menu-buttons button {
        width: 90%;
        font-size: 16px;
        margin-left: 0 !important; /* Corrige el desacomodo */
    }
    /* ajustar posiciones en celular */
     .btn-REVISION       { margin-left: 30px; }
     .btn-INTOXICACION   { margin-left: 20px; }
     .btn-TRAMPAS        { margin-left: 10px; }
     .btn-REPORTES       { margin-left: 10px; }
     .btn-HERRAMIENTAS   { margin-left: 20px; }
     .btn-EPP            { margin-left: 30px; }
}





































